a {
    text-decoration: none;
    color: #fff;

}

.dropdown {
    color: rgb(238, 242, 250);
}

li {
    list-style: none;
}

.hide {
    display: none !important;
}

h1,
p {
    color: #fff;
}





#last-one:hover {
    background: rgba(1, 53, 74, .5);
}

#last-one p {
    font-weight: 600;
}


#icon-nav {
    margin-left: 0.5rem;
}

#core-technology-head h1,
#product-stack h1,
.what-do-we-do h1,
.marketplace h1,
.second_section h1,
.mining h1,
#micro-finance h1,
.sixth_section h1 {
    padding-top: 1.5rem;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
}


/* BUTTON */
.btns {
    margin-top: 2rem;
}

.btn-outer {
    display: inline-block;
    position: relative;
    border: 2px solid rgb(1, 72, 100);
    width: max-content;
    padding: 10px 12px;
    width: 190px;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 1rem;
    background: url('./images/roadmap-item-bg.png');
    background-size: cover;
    transition: all .2s linear;

}

.btn-outer:hover {
    border: 2px solid #ffaa00;
    cursor: pointer;

}

.glow-focus {
    position: absolute;
}

.top-left {
    top: -1rem;
    left: -1rem;
}

.bottom-left {
    bottom: -1rem;
    left: -1rem;
    transform: rotate(270deg);

}

.top-right {
    top: -1rem;
    right: -1rem;
    transform: rotate(90deg);

}

.bottom-right {
    bottom: -1rem;
    right: -1rem;
    transform: rotate(180deg);

}


/* LOADER */
:root {
    --yellow: #000;
    --red: #000;
    --blue: #000;
    --violet: #000;
}

.loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    /* overflow-x: hidden !important; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 9999;
}

div.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.loader>div {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    margin: 2vw;
    background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    animation: bounce 1.5s 0.5s linear infinite;
}

.yellow {
    background-color: var(--yellow);
}

.red {
    background-color: var(--red);
    animation-delay: 0.1s;
}

.blue {
    background-color: var(--blue);
    animation-delay: 0.2s;
}

.violet {
    background-color: var(--violet);
    animation-delay: 0.3s;
}

@keyframes bounce {

    0%,
    50%,
    100% {
        transform: scale(1);
        filter: blur(0px);
    }

    25% {
        transform: scale(0.6);
        filter: blur(3px);
    }

    75% {
        filter: blur(3px);
        transform: scale(1.4);
    }
}