a {
    text-decoration: none;
    color: #fff;

}

.dropdown {
    color: rgb(238, 242, 250);
}

li {
    list-style: none;
}

.hide {
    display: none;
}

h1,
p {
    color: #fff;
}





#last-one:hover {
    background: rgba(1, 53, 74, .5);
}

#last-one p {
    font-weight: 600;
}


#icon-nav {
    margin-left: 0.5rem;
}

.marketplace h1,
.second_section h1,
.mining h1,
#micro-finance h1,
.sixth_section h1 {
    padding-top: 1.5rem;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
}


/* BUTTON */
.btns {
    margin-top: 2rem;
}

.btn-outer {
    display: inline-block;
    position: relative;
    border: 2px solid rgb(1, 72, 100);
    width: max-content;
    padding: 10px 12px;
    width: 190px;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 1rem;
    background: url('./images/roadmap-item-bg.png');
    background-size: cover;
    transition: all .2s linear;

}

.btn-outer:hover {
    border: 2px solid #ffaa00;
    cursor: pointer;

}

.glow-focus {
    position: absolute;
}

.top-left {
    top: -1rem;
    left: -1rem;
}

.bottom-left {
    bottom: -1rem;
    left: -1rem;
    transform: rotate(270deg);

}

.top-right {
    top: -1rem;
    right: -1rem;
    transform: rotate(90deg);

}

.bottom-right {
    bottom: -1rem;
    right: -1rem;
    transform: rotate(180deg);

}